;body {
  margin: 0;
  padding: 0;
  font: normal Tahoma, Geneva, sans-serif;
  background-color: #F7F7F7;
}

h1 {
  font-size: 4em;
  margin: 0;
}

h2 {
  font-size: 2em;
  margin: 10px 0;
}

table{
  margin: 10px 0 10px 10px;
}

tr {
}

td {
  font-size: 20px;
  padding: 2px 0 2px 0;
  width: 250px;
  border-bottom: 3px solid #757575;

}

.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #9E9E9E; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

button {
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 130px;
  height: 30px;
  cursor: pointer;
  margin: 0 0 15px 5px;
  vertical-align: middle;
  font: normal 18px/normal Tahoma, Geneva, sans-serif;
  color: #212121;
  text-align: center;
  text-overflow: clip;
  background: #BDBDBD;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #9E9E9E;
}

button:hover {
  background: #9E9E9E;
  text-decoration: none;
}

.navbar {
  background-color: #1976D2;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  color: #FFFFFF
}

.login-box {
  padding-top: 2em;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.textinput {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 15em;
  height: 2em;
  margin: 2px;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #b7b7b7;
  font: normal 17px/normal Tahoma, Geneva, sans-serif;
  color: rgba(0,0,0,1);
  background: rgba(252,252,252,1);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.footer {
    margin-left: 155px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.stats-box {
  margin: 4px;
  width: 60px;
  display: inline-block;
}

.stats-top-box {
height: 17px;
display: block;
border: 1px black solid;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
font: normal 14px/normal Tahoma, Geneva, sans-serif;
background: #BDBDBD;
color: #212121;
}

.stats-bottom-box {
  height: 35px;
  display: block;
  border: 1px black solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font: normal 14px/normal Tahoma, Geneva, sans-serif;
  background: #FFFFFF;
  color: #212121;
}

.box {
  width: 400px;
  background: #F7F7F7;
  float: left;
  margin: 0px 10px 5px 10px;
  border: 10px solid #BDBDBD;
  padding: 5px;
}
